table, th, td {
  border: 1px solid black;
  padding:5px;
}

#map-container {
    position: relative;
    height: 500px;
    width: 800px;
}

#map {
    position: relative;
    height: inherit;
    width: inherit;
}
