.title {
  text-align: center;
}

#map-container {
    display: inherit;
    height: 500px;
}

mat-card{
  width: 100%;
}

#map {
    position: relative;
    height: inherit;
    width: inherit;
}

.searchBar {
  padding-bottom:20px;
  width: 100%;
}

.filterButtonsContainer {
  display: flex;
  margin: 15px 0;
  align-items: flex-start;
}

.filterButton {
  margin: 5px;
}

.mapFilters {
  display: inherit;
  align-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.checkbox{
  margin: 0 10px;
}

.contentContainer {
  display:flex;
  justify-content: space-between;
}

.chart {
  padding:20px;
}

.pdfButton {
  background-color:#381bb9;
  color:white;
}

.pdfButton:hover {
  background-color:aliceblue;
}

mat-card-header {
  display:flex;
  justify-content: space-between;
}

