<div class="parent">
  <p *ngIf="loadingData"> Loading... </p>
  <mat-tab-group mat-align-tabs="center">
    <!----------------------------------------------------------- MAP VIEW ---------------------------------------------------------------->
    <mat-tab label="Map view">
      <div *ngIf="!loadingData" class="contentContainer">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Map View</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <section class="mapFilters">
              <label class="checkbox">Filter Data For:</label>
              <mat-checkbox class="checkbox" [(ngModel)]="showBikeMarkers" (change)="setMapFilter()">Dublin Bikes</mat-checkbox>
              <mat-checkbox class="checkbox" [(ngModel)]="showPedestrianMarkers" (change)="setMapFilter()">Pedestrians</mat-checkbox>
              <mat-checkbox class="checkbox" [(ngModel)]="showBusMarkers" (change)="setMapFilter()">Dublin Bus</mat-checkbox>
              <mat-checkbox class="checkbox" [(ngModel)]="showAqiMarkers" (change)="setMapFilter()">Aqi</mat-checkbox>
            </section>
  
            <div id="map-container">
              <div id="map"></div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <!----------------------------------------------------------- TABLE VIEW ---------------------------------------------------------------->
    <mat-tab label="Table/Graph view">
      <div *ngIf="!loadingData" class="contentContainer">
        <div class="row">
        <div class="col-sm-6">
          <!---------------------------------------------------- DUBLIN BIKES ---------------------------------------------------------------->
          <mat-card>
            <mat-card-header>
              <mat-card-title> Dublin Bikes </mat-card-title>
              <input type="button" value="Download Report" class="btn pdfButton" (click)="savePDF('bikes')">
            </mat-card-header>
  
          <!-- <ngx-charts-bar-vertical class="chart"
              [view]="[700,300]"
              [results]="saleData"
              [xAxisLabel]="'Products'"
              [legendTitle]="'Product Sale Chart'"
              [yAxisLabel]="'Sale'"
              [legend]="true"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxis]="true"
              [yAxis]="true"
              [gradient]="false">
          </ngx-charts-bar-vertical> -->
          <mat-card-content>
          <div > Last Updated: {{lastUpdated | date: 'dd/MM/yyyy HH:mm'}} </div>
          <mat-tab-group mat-align-tabs="center">
            <mat-tab active label="Table view">
              
              <!-- Bike Search bar -->
              <div role="main">
                <div>
                  <div class="searchBar">
                    <input type="text" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText"
                      placeholder="Search a station">
                  </div>
                </div>
              </div>
  
              <!-- Bike Filter buttons -->
              <label id="filter-buttons">Sort by: </label>
                <mat-radio-group aria-labelledby="filter-buttons-label" class="filterButtonsContainer" [(ngModel)]="bikeFilterChoice" (change)="setBikeFilter($event)">
                  <mat-radio-button class="filterButton" *ngFor="let item of bikeFilterOptions" [value]="item">
                    {{item}}
                  </mat-radio-button>
                </mat-radio-group>
                <!-- Bike Table -->
                <div id="bikeTable">
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col" style="width: 30%;">Last Updated</th>
                      <th scope="col" style="width: 40%;">Station Name</th>
                      <th scope="col">Available bikes</th>
                      <th scope="col">Available stands</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of bikeData | searchFilter: searchText">
                      <td scope="row">{{data.last_update | date: 'dd/MM/yyyy HH:mm'}}</td>
                      <td scope="row">{{data.name}}</td>
                      <td scope="row">{{data.available_bikes}}</td>
                      <td scope="row">{{data.available_bike_stands}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
            </mat-tab>
            <!-- Bike Graph-->
            <mat-tab label="Graph view">
                <canvas baseChart
                  [data]="barChartData"
                  [options]="barChartOptions"
                  [type]="barChartType">
                </canvas>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
      </div>
      <div class="col-sm-6">
        <!--------------------------------------------------------- AQI --------------------------------------------------------------------->
          <mat-card>
            <mat-card-header>
              <mat-card-title>Dublin Air Quality Index</mat-card-title>
              <input type="button" value="Download Report" class="btn pdfButton" (click)="savePDF('aqi')">
            </mat-card-header>
            
          <!-- <ngx-charts-bar-vertical class="chart"
              [view]="[700,300]"
              [results]="aqiGraphData"
              [xAxisLabel]="'Station'"
              [legendTitle]="'AQI'"
              [yAxisLabel]="'AQI value'"
              [legend]="false"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxis]="true"
              [yAxis]="true"
              [gradient]="false">
          </ngx-charts-bar-vertical> -->
  
          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Table view">
          <!-- AQI Search bar -->
          <div role="main">
            <div>
              <div class="searchBar">
                <input type="text" class="form-control" id="search-aqi-text" aria-describedby="search-aqi-text"
                  [(ngModel)]="aqiSearchText" placeholder="Search a station">
              </div>
            </div>
          </div>
  
          <!-- AQI Filter buttons -->
          <label id="filter-buttons">Sort by: </label>
          <mat-radio-group aria-labelledby="filter-buttons-label" class="filterButtonsContainer" [(ngModel)]="aqiFilterChoice"
            (change)="setAqiFilter($event)">
            <mat-radio-button class="filterButton" *ngFor="let item of aqiOptions" [value]="item">
              {{item}}
            </mat-radio-button>
          </mat-radio-group>
              <!-- AQI TABLE -->
              <div id="aqiTable">
                <table id="aqiTable" class="table">
                  <thead>
                  <tr>
                    <th scope="col">Last Updated</th>
                    <th scope="col">Station Name</th>
                    <th scope="col">Aqi Level</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let aqi of aqiData | searchFilter: aqiSearchText">
                    <td scope="row">{{aqi.time.stime | date: 'dd/MM/yyyy HH:mm'}}</td>
                    <td scope="row">{{aqi.station.name}}</td>
                    <td scope="row">{{aqi.aqi}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </mat-tab>
            <!-- AQI GRAPH -->
            <mat-tab label="Graph view"></mat-tab>
            </mat-tab-group>
          </mat-card>
          </div>
        <!-- </div>
        <div class="row"> -->
          <div class="col-sm-6">
          <!--------------------------------------------------------- PEDESTRIAN --------------------------------------------------------------------->
          <mat-card>
            <mat-card-header>
              <mat-card-title>Pedestrian Footfall</mat-card-title>
              <input type="button" value="Download Report" class="btn pdfButton" (click)="savePDF('pedestrian')">
            </mat-card-header>
          
  
            <mat-tab-group mat-align-tabs="center">
              <mat-tab label="Table view">
          <!-- Pedestrian Search Bar -->
          <div role="main">
            <div>
              <div class="searchBar">
                <input type="text" class="form-control" id="search-aqi-text" aria-describedby="search-aqi-text"
                  [(ngModel)]="pedestrianSearchText" placeholder="Search a street">
              </div>
            </div>
          </div>
  
          <!-- Pedestrian Filter buttons -->
          <label id="filter-buttons">Sort by: </label>
          <mat-radio-group aria-labelledby="filter-buttons-label" class="filterButtonsContainer"
            [(ngModel)]="pedestrianFilterChoice" (change)="setPedestrianFilter($event)">
            <mat-radio-button class="filterButton" *ngFor="let item of pedestrianOptions" [value]="item">
              {{item}}
            </mat-radio-button>
          </mat-radio-group>
          <!-- Pedestrian Table -->
            <div id="pedestrianTable">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Location</th>
                    <th scope="col">Count</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let pedestrian of pedestrianData | searchFilter: pedestrianSearchText">
                    <td scope="row">{{pedestrian.street}}</td>
                    <td scope="row">{{pedestrian.count}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </mat-tab>
            <!-- Pedestrian Graph -->
            <mat-tab label="Graph view"></mat-tab>
          </mat-tab-group>
          </mat-card>
          </div>
          
          
          <div class="col-sm-6">
          <!--------------------------------------------------------- DUBLIN BUS --------------------------------------------------------------------->
          <mat-card>
            <mat-card-header>
              <mat-card-title>Dublin Bus</mat-card-title>
              <input type="button" value="Download Report" class="btn pdfButton" (click)="savePDF('bus')">
            </mat-card-header>
          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Table view">
          <!-- Bus Search Bar -->
          <div role="main">
            <div>
              <div class="searchBar">
                <input type="text" class="form-control" id="search-text" aria-describedby="search-text"
                  [(ngModel)]="busSearchText" placeholder="Search a route">
              </div>
            </div>
          </div>
  
          <!-- Bus Filter buttons -->
          <label id="filter-buttons">Sort by: </label>
          <mat-radio-group
            aria-labelledby="filter-buttons-label"
            class="filterButtonsContainer"
            [(ngModel)]="busFilterChoice"
            (change)="setBusFilter($event)">
            <mat-radio-button class="filterButton" *ngFor="let item of busFilterOptions" [value]="item">
              {{item}}
            </mat-radio-button>
          </mat-radio-group>
              <!-- Bus Table -->
              <div id="busTable">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Route</th>
                    <th scope="col">Start Time</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let data of busData | searchFilter: busSearchText">
                    <td scope="row">{{data.routeShort}}</td>
                    <td scope="row">{{data.startTimestamp| date: 'dd/MM/yyyy HH:mm'}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </mat-tab>
            <!-- Bus Graph -->
            <mat-tab label="Graph view"></mat-tab>
          </mat-tab-group>
          </mat-card>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  
  
  