<div class="row">
  <div class="col-sm-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Move Dublin bikes to empty stations:</mat-card-title>
        <mat-card-subtitle>Recommendation to move bikes from the least used bike stations to heavily used bike stations for better optimization</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr> 
              <th scope="col"> Move Bikes From </th>
              <th scope="col"> Move Bikes To </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of filledSpots; let i =index">
                <td scope="row">{{entry.name}}</td>
                <td scope="row">{{openSpots[i].name}}</td>      
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Move Dublin bikes to highly populated areas:</mat-card-title>
        <mat-card-subtitle>Recommendation to move bikes from the least used bike stations to areas with highest population for better reach</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr> 
              <th scope="col"> Move Bikes From </th>
              <th scope="col"> Available Bikes </th>
              <th scope="col"> Move Bikes To </th>
              <th scope="col"> Footfall </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of moveBikesFrom; let i =index">
              <td scope="row">{{entry.name}}</td>
              <td scope="row">{{entry.availableBikes}}</td>
              <td scope="row">{{moveBikesTo[i].street}}</td> 
              <td scope="row">{{moveBikesTo[i].count}}</td>     
          </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Move Traffic Based on AQI:</mat-card-title>
        <mat-card-subtitle>Recommendation to traffic from most polluted to least polluted areas </mat-card-subtitle>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr> 
              <th scope="col"> Move Traffic From </th>
              <th scope="col"> AQI </th>
              <th scope="col"> Move Traffic To </th>
              <th scope="col"> Aqi </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of highestAqi; let i =index">
              <td scope="row">{{highestAqi[i].stationName}}</td>
              <td scope="row">{{highestAqi[i].aqi}}</td>
              <td scope="row">{{lowestAqi[i].stationName}}</td>
              <td scope="row">{{lowestAqi[i].aqi}}</td>      
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Most and Least Popular Pedestrian Areas Recently:</mat-card-title>
        <mat-card-subtitle>You can find ideas as to how to popularise the least popular areas 
          by finding patterns in what makes the most popular areas so popular. </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr> 
              <th scope="col"> Unpopular Area </th>
              <th scope="col"> Footfall </th>
              <th scope="col"> Popular Area </th>
              <th scope="col"> Footfall </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of highestCountPedestrianData; let i =index">
              <td scope="row">{{highestCountPedestrianData[i].street}}</td>
              <td scope="row">{{highestCountPedestrianData[i].count}}</td>
              <td scope="row">{{lowestCountPedestrianData[i].street}}</td>
              <td scope="row">{{lowestCountPedestrianData[i].count}}</td>      
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Most Delayed Buses:</mat-card-title>
        <mat-card-subtitle>An insight into bus routes experiencing most delays. These routes may require re-scheduling based on average delays</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr> 
              <th scope="col"> Route </th>
              <th scope="col"> Average delay </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of mostDelayedBuses; let i =index">
              <td scope="row">{{mostDelayedBuses[i][1]}}</td>
              <td scope="row">{{mostDelayedBuses[i][0]}}</td>
          </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Most Polluted Bus Stops:</mat-card-title>
        <mat-card-subtitle>These stops are in areas with high Aqi (pollution) indexes. We recommend not routing as many buses here.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr> 
              <th scope="col"> Stop </th>
              <th scope="col"> Aqi delay </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of mostPollutedStops | keyvalue">
              <td scope="row">{{entry.key}}</td>
              <td scope="row">{{entry.value}}</td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
