/* mat-card{
  margin-top: 3%;
  margin-bottom: 5%;
  width: max-content;
} */

mat-expansion-panel {
  width: 100%;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}