<div *ngIf="loadingData"> Loading... </div>
<div *ngIf="!loadingData">
  <!-- <div class="row">
    <div class="col-sm-6"> -->
    <div class = "content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex.lg="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Move Dublin bikes to empty stations:</mat-card-title>
          <mat-card-subtitle>Recommendation to move bikes from the least used bike stations to heavily used bike stations for better optimization</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <table class="table">
          <!-- <table mat-table [dataSource]="filledSpots">
            <ng-container matColumnDef="from">
              <th mat-header-cell *matHeaderCellDef> Move Bikes From </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="to">
              <th mat-header-cell *matHeaderCellDef> Move Bikes To </th>
              <td mat-cell *matCellDef="let element; let i =index"> {{openSpots[i].name}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
            <thead>
              <tr> 
                <th scope="col"> Move Bikes From </th>
                <th scope="col"> Move Bikes To </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of filledSpots; let i =index">
                  <td scope="row">{{entry.name}}</td>
                  <td scope="row">{{openSpots[i].name}}</td>      
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- </div>
    <div class="col-sm-6"> -->
      <div fxFlex.lg="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Move Dublin bikes to highly populated areas:</mat-card-title>
          <mat-card-subtitle>Recommendation to move bikes from the least used bike stations to the closest station in areas with highest population</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <table class="table">
            <thead>
              <tr> 
                <th scope="col"> Move Bikes From </th>
                <th scope="col"> Available Bikes </th>
                <th scope="col"> Move Bikes To </th>
                <th scope="col"> Footfall </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of moveBikesFrom; let i =index">
                <td scope="row">{{entry.name}}</td>
                <td scope="row">{{entry.availableBikes}}</td>
                <td scope="row">{{moveBikesTo[i].street}}</td> 
                <td scope="row">{{moveBikesTo[i].count}}</td>     
            </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.lg="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%">
    <!-- </div>
    <div class="col-sm-6"> -->
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Move Traffic Based on AQI:</mat-card-title>
          <mat-card-subtitle>Recommendation to traffic from most polluted to least polluted areas </mat-card-subtitle>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <table class="table">
            <thead>
              <tr> 
                <th scope="col"> Move Traffic From </th>
                <th scope="col"> AQI </th>
                <th scope="col"> Move Traffic To </th>
                <th scope="col"> Aqi </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of highestAqi; let i =index">
                <td scope="row">{{highestAqi[i].stationName}}</td>
                <td scope="row">{{highestAqi[i].aqi}}</td>
                <td scope="row">{{lowestAqi[i].stationName}}</td>
                <td scope="row">{{lowestAqi[i].aqi}}</td>      
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.lg="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%">
    <!-- </div>
    <div class="col-sm-6"> -->
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Most and Least Popular Pedestrian Areas Recently:</mat-card-title>
          <mat-card-subtitle>You can find ideas as to how to popularise the least popular areas 
            by finding patterns in what makes the most popular areas so popular. </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <table class="table">
            <thead>
              <tr> 
                <th scope="col"> Unpopular Area </th>
                <th scope="col"> Footfall </th>
                <th scope="col"> Popular Area </th>
                <th scope="col"> Footfall </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of highestCountPedestrianData; let i =index">
                <td scope="row">{{highestCountPedestrianData[i].street}}</td>
                <td scope="row">{{highestCountPedestrianData[i].count}}</td>
                <td scope="row">{{lowestCountPedestrianData[i].street}}</td>
                <td scope="row">{{lowestCountPedestrianData[i].count}}</td>      
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.lg="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%">
    <!-- </div>
    <div class="col-sm-6"> -->
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Most Delayed Buses:</mat-card-title>
          <mat-card-subtitle>An insight into bus routes experiencing most delays. These routes may require re-scheduling based on average delays</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <table class="table">
            <thead>
              <tr> 
                <th scope="col"> Route </th>
                <th scope="col"> Average delay </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of mostDelayedBuses; let i =index">
                <td scope="row">{{mostDelayedBuses[i][1]}}</td>
                <td scope="row">{{mostDelayedBuses[i][0]}}</td>
            </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.lg="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%">
    <!-- </div>
    <div class="col-sm-6"> -->
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Most Polluted Bus Stops:</mat-card-title>
          <mat-card-subtitle>These stops are in areas with high Aqi (pollution) indexes. We recommend not routing as many buses here.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <table class="table">
            <thead>
              <tr> 
                <th scope="col"> Stop </th>
                <th scope="col"> Aqi delay </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of mostPollutedStops | keyvalue">
                <td scope="row">{{entry.key}}</td>
                <td scope="row">{{entry.value}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.lg="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%">
    <!-- </div> -->
    <!--------------------------------------------------------------- Trends --------------------------------------------------------------------------->
    <!-- <div class="col-sm-6"> -->
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Bike Availability:</mat-card-title>
          <mat-card-subtitle>Average bike availability for each stand given the current time: {{currentTime | date: 'HH:mm'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-accordion multi class="headers-align" id="bikeTrendTable">
          <mat-expansion-panel id="bikeEntry" *ngFor="let entry of hourlyBikeTrends">
            <mat-expansion-panel-header style="height:max-content; padding-top: 5px; padding-bottom: 5px;">
              <mat-panel-title>
                {{entry._id}}
              </mat-panel-title>
              <mat-panel-description>
                <div> {{entry.current.avgAvailability}}% </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <table class="table">
                <thead>
                  <tr> 
                    <th scope="col"> Hour </th>
                    <th scope="col"> Average Availability </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let hourData of entry.data">
                    <td scope="row">{{hourData.hour}}:00</td>
                    <td scope="row">{{hourData.avgAvailability}}%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
      </div>
    </div>
  </div>
</div>
