<head>
  <title> SCM </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="toolbar" role="banner">
    <span>Welcome to Sustainable City Management</span>
  </div>
  <div class="header-social">
    <nav class="header-nav-secondary">
      <ul>
        <li><a class="header-text" routerLink="/real-time-dashboard">real-time data</a></li>
        <li><a class="header-text" routerLink="/trends">trends</a></li>
        <li><a class="header-text" routerLink="/recommendations">recommendations</a></li>
        <li><a class="header-text" routerLink="/logout">logout</a></li>
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
</body>
