<head>
  <title> SCM </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <mat-toolbar class="toolbar">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Welcome to Sustainable City Management</h2>
    </div>
  </mat-toolbar>

  <nav mat-tab-nav-bar mat-align-tabs="center" class="navbar">
    <a mat-tab-link routerLink="/real-time-dashboard" (click)="activeLink = '/real-time-dashboard'" [active]="activeLink == '/real-time-dashboard'"> Real Time Dashboard </a>
    <a mat-tab-link routerLink="/trends" (click)="activeLink = '/trends'" [active]="activeLink == '/trends'"> Trends</a>
    <a mat-tab-link routerLink="/recommendations" (click)="activeLink = '/recommendations'" [active]="activeLink == '/recommendations'"> Recommendations </a>
    <a mat-tab-link routerLink="/logout" (click)="activeLink = '/logout'" [active]="activeLink == '/logout'"> Logout </a>
  </nav> 
  <router-outlet></router-outlet>
</body>
