<h1> Real Time Dashboard </h1>

<p> Dublin Bikes </p>
<div> Last Updated: {{lastUpdated | date: 'dd/MM/yyyy HH:mm'}} </div>

<table>
    <tr> 
      <th>Last Updated</th>
      <th>Station Name</th>
      <th>Available bikes</th>
      <th>Available stands</th>
    </tr>
    <tr *ngFor="let data of bikeData; index as i">
      <td>{{data.lastUpdate | date: 'dd/MM/yyyy HH:mm'}}</td>
      <td>{{data.name}}</td>
      <td>{{data.availableBikes}}</td>
      <td>{{data.availableBikeStands}}</td>  
    </tr>
</table>

<h1> Map of Dublin Bikes </h1>

<div id="map-container">
  <div id="map">
  </div>
</div>
