:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .toolbar {
    padding-left: 2%;
    background-color: #381bb9;
    color: white;
  }

  .toolbar span {
    margin: auto;
  }

  .navbar {
  background: #381bb9;
  text-align: center;
}

a {
  color: aliceblue;
}
li {
  display: inline-block;
  padding: 10px;
}

.contentContainer {
  padding:20px;
}

.example-spacer {
  flex: 1 1 auto;
}