<!doctype html>
<html lang="en">
<head>
  <title>Sustainable City Management</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <span>Sustainable City Management</span>
      <span class="example-spacer"></span>
    <nav mat-tab-nav-bar mat-align-tabs="center" class="navbar">
      <a mat-tab-link routerLink="/real-time-dashboard" (click)="activeLink = '/real-time-dashboard'" [active]="activeLink == '/real-time-dashboard'"> Real Time Dashboard </a>
      <a mat-tab-link routerLink="/recommendations" (click)="activeLink = '/recommendations'" [active]="activeLink == '/recommendations'"> Trends and Recommendations </a>
      <a mat-tab-link routerLink="/logout" (click)="activeLink = '/logout'" [active]="activeLink == '/logout'"> Logout </a>
    </nav> 
  </mat-toolbar-row>
    <!-- <div class="md-toolbar-tools">
      <h2 class="md-flex">Sustainable City Management</h2>
    </div> -->
  </mat-toolbar>
  <!-- <nav mat-tab-nav-bar mat-align-tabs="center" class="navbar">
    <a mat-tab-link routerLink="/real-time-dashboard" (click)="activeLink = '/real-time-dashboard'" [active]="activeLink == '/real-time-dashboard'"> Real Time Dashboard </a>
    <a mat-tab-link routerLink="/trends" (click)="activeLink = '/trends'" [active]="activeLink == '/trends'"> Trends</a>
    <a mat-tab-link routerLink="/recommendations" (click)="activeLink = '/recommendations'" [active]="activeLink == '/recommendations'"> Recommendations </a>
    <a mat-tab-link routerLink="/logout" (click)="activeLink = '/logout'" [active]="activeLink == '/logout'"> Logout </a>
  </nav>  -->
    
  <div class="contentContainer">
    <router-outlet></router-outlet>
  </div>

  <!-- Bootstrap JS should stay at the end just before the body tag closes. -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
