table, th, td {
  border: 1px solid black;
  padding:5px;
}

h1 {
  text-align: center;
}

.bikeExpansionHeaders {
  display:flex;
}

.stationHeader {
  width:280px;
  padding-left:20px;
}

mat-expansion-panel {
    width: 50%;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
 }

.headers-align .mat-expansion-panel-header-description {
 justify-content: space-between;
 align-items: center;
}

.hourlyPercentages {
  padding-left:33%;
}

.pdfButton {
  background-color:#381bb9;
  color:white;
}

.pdfButton: hover {
  background-color:aliceblue;
}
