on:
  push:
    branches:
      - ui-deployment
      - main
  workflow_dispatch:

# TODO(all): add environment variables for deployment.

defaults:
 run:
  working-directory: ./scm-ui

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        working-directory: ./scm-ui
        node-version: ${{ env.NODE_VERSION }}
        cache: 'npm'

    - name: npm install, build, and test
      run: |
        npm install
        npm install util
        npm install url
        npm install puppeteer --save-dev
        npm run build --if-present
        npm run test --if-present

    - name: Upload artifact for deployment job
      uses: actions/upload-artifact@v2
      with:
        working-directory: ./scm-ui
        name: node-app
        path: .

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Development'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v2
      with:
        working-directory: ./scm-ui
        name: node-app

   # TODO(all): deploy to server.
